[submodule "freebsd/src"]
	path = freebsd/src
	url = ../freebsd-src.git
[submodule "crochet"]
	path = crochet
	url = ../crochet.git
[submodule "apps/coremark/coremark"]
	path = apps/coremark/coremark
	url = https://github.com/eembc/coremark.git
[submodule "bouffalo_sdk"]
	path = bouffalo_sdk
	url = ../bouffalo_sdk.git
[submodule "prebuilts/t-head-xuantie-gcc-freebsd"]
	path = prebuilts/t-head-xuantie-gcc-freebsd
	url = ../t-head-xuantie-gcc-freebsd.git
