[submodule "freebsd/src"]
	path = freebsd/src
	url = git@github.com:Virus-V/freebsd-src.git
[submodule "crochet"]
	path = crochet
	url = git@github.com:Virus-V/crochet.git
[submodule "bl_mcu_sdk/toolchain"]
	path = bl_mcu_sdk/toolchain
	url = git@github.com:Virus-V/t-head-xuantie-gcc-freebsd.git
[submodule "apps/coremark/coremark"]
	path = apps/coremark/coremark
	url = https://github.com/eembc/coremark.git
